<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <agm-map
    [latitude]="currentAddress?.lat"
    [longitude]="currentAddress?.lon"
    [streetViewControl]="false"
    [zoomControl]="false"
    maxZoom="4" minZoom="2">
    <agm-marker *ngFor="let item of cities"
                [latitude]="item.lat" [longitude]="item.lon">
    </agm-marker>
    <agm-polyline *ngFor="let item of trips"
                  [geodesic]="true"
                  strokeColor="red"
                  strokeOpacity="0.3"
                  strokeWeight="1">
      <agm-polyline-point [latitude]="item.origin.lat" [longitude]="item.origin.lon"></agm-polyline-point>
      <agm-polyline-point [latitude]="item.target.lat" [longitude]="item.target.lon"></agm-polyline-point>
    </agm-polyline>
  </agm-map>
</ion-content>
