<ion-header>
  <ion-toolbar>
    <ion-title>Login to Data Journal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>

    <img class="center" src="/assets/icon/favicon.png"/>
    <ion-item>
      <ion-label position="floating">email</ion-label>
      <ion-input [(ngModel)]="userEmail" autofocus inputmode="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="userPassword" required type="password"></ion-input>
    </ion-item>
    <ion-button (click)="login('email')" color="dark" expand="full">
      Email Login
    </ion-button>
    <ion-item-divider></ion-item-divider>
    <ion-item-group>
      <ion-button (click)="login('google')" color="danger" expand="full">
        Google Login
      </ion-button>
      <ion-button (click)="login('facebook')" color="primary" expand="full">
        Facebook Login
      </ion-button>
    </ion-item-group>


    <ion-item-divider></ion-item-divider>
    <ion-item-group>
      <ion-button color="dark"
                  expand="full"
                  routerLink="/auth/signup">
        Register new user
      </ion-button>
      <ion-button color="dark"
                  expand="full"
                  routerLink="/auth/reset-password">
        Reset password
      </ion-button>
    </ion-item-group>

    <!-- Information about current user -->
    <ion-item *ngIf="authService.isLoggedIn">
      <ion-label>
        Logged in as {{authService.userEmail}}
      </ion-label>
      <ion-button (click)="authService.doLogout()">
        Logout
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
