<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">email</ion-label>
      <ion-input inputmode="email" [(ngModel)]="userEmail" required autofocus></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="userPassword" required></ion-input>
    </ion-item>
    <ion-button expand="full" color="dark" (click)="login('email')">
      Email Login
    </ion-button>
    <ion-item-divider></ion-item-divider>
    <ion-item-group>
      <ion-button expand="full" color="danger" (click)="login('google')">
        Google Login
      </ion-button>
      <ion-button expand="full" color="primary" (click)="login('facebook')">
        Facebook Login
      </ion-button>
    </ion-item-group>


    <ion-item-divider></ion-item-divider>
    <ion-item-group>
      <ion-button expand="full"
                  color="dark"
                  routerLink="/auth/signup">
        Register new user
      </ion-button>
      <ion-button expand="full"
                  color="dark"
                  routerLink="/auth/reset-password">
        Reset password
      </ion-button>
    </ion-item-group>

    <!-- Information about current user -->
    <ion-item *ngIf="authService.isLoggedIn">
      <ion-label>
        Logged in as {{authService.userEmail}}
      </ion-label>
      <ion-button (click)="authService.doLogout()">
        Logout
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!authService.isLoggedIn">
      Not logged in
    </ion-item>
  </ion-list>
</ion-content>
