<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>interviewing.io interviews</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportCsv()" color="primary" mat-raised-button>
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" placeholder="Filter interviews"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button (click)="presentModal(newInterview)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let item of ((iio.data | async) | groupByMonth)">
      <ion-item-divider>
        {{item.month}} ({{item.total}}USD)
        <ion-icon name="logo-paypal"
                  slot="end"
                  size="small"
                  (click)="markAllAsPaid(item.events)"></ion-icon>
      </ion-item-divider>
      <app-interview (editClicked)="presentModal(interview)"
                     *ngFor="let interview of item.events"
                     [interview]="interview">
      </app-interview>
    </div>
  </ion-list>
</ion-content>
