<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>interviewing.io interviews</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportCsv()" color="primary" mat-raised-button>
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" placeholder="Filter interviews"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button (click)="presentModal(newInterview)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of ((iio.data | async) | groupByMonth)">
    <ion-card-header>
      <ion-card-title>
        <ion-item lines="none">
          {{item.month}}
          {{item.total}}<small>USD</small>, {{item.events.length}} interviews
          <ion-icon name="logo-paypal"
                    slot="end"
                    size="small"
                    (click)="markAllAsPaid(item.events)"></ion-icon>
        </ion-item>
      </ion-card-title>
      <ion-card-subtitle>
       <span *ngFor="let status of item.status | keyvalue">
         {{status.value[0]}} {{status.key}}:
         {{status.value[1]}}<small>USD</small> |
      </span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <app-interview (editClicked)="presentModal(interview)"
                     *ngFor="let interview of item.events"
                     [interview]="interview">
      </app-interview>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px"
                       (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
