<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      {{address.start | date: 'yyyy-MM-dd'}} - {{address.end | date: 'yyyy-MM-dd'}}
      ({{daysDiff(address.start, address.end)}} days)
    </ion-card-subtitle>
    <ion-card-title>
      <ion-icon *ngIf="address.countryCode"
                [src]="'/assets/flags/'+address.countryCode.toLowerCase()+'.svg'"></ion-icon>
      {{address.city}}, {{address.state}}, {{address.country}}
    </ion-card-title>

  </ion-card-header>
  <ion-card-content>
    <agm-map [latitude]="address.lat"
             [longitude]="address.lng"
             [streetViewControl]="false"
             [zoomControl]="false"
             maxZoom="8"
             minZoom="5">
      <agm-marker [latitude]="address.lat" [longitude]="address.lng"></agm-marker>
    </agm-map>
  </ion-card-content>
  <ion-footer>
    <ion-row>
      <ion-col offset="8" size="2">
        <ion-button (click)="editClicked.emit(null)" fill="clear">
          <ion-icon color="primary" name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="delete()" fill="clear">
          <ion-icon color="danger" name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>

