<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      {{address.start | date: 'yyyy-MM-dd'}} - {{address.end | date: 'yyyy-MM-dd'}}
      ({{daysDiff(address.start, address.end)}} days)
    </ion-card-subtitle>
    <ion-card-title>
      <ion-icon *ngIf="address.countryCode"
                [src]="'/assets/flags/'+address.countryCode.toLowerCase()+'.svg'"></ion-icon>
      {{address.locationName}}
    </ion-card-title>

  </ion-card-header>
  <ion-card-content>
    <google-map width="100%"
                [center]="{lat: address.lat || 43.7, lng: address.lng || -79.42}"
                [options]="{minZoom:5,maxZoom:8,zoomControl:false,streetViewControl:false,}">
      <map-marker *ngIf="address.lat && address.lng"
                  [position]="{lat: address.lat || 43.7, lng: address.lng || -79.42}"></map-marker>
    </google-map>
  </ion-card-content>
  <ion-footer>
    <ion-row>
      <ion-col offset="8" size="2">
        <ion-button (click)="editClicked.emit(null)" fill="clear">
          <ion-icon color="primary" name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="delete()" fill="clear">
          <ion-icon color="danger" name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>

