<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User trips journal</ion-title>
    <ion-buttons slot="end">
      <ion-button mat-raised-button color="primary" (click)="exportCsv()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" placeholder="Filter trips"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>


  <app-edit-trip [trip]="newTrip"></app-edit-trip>
  <ion-list>

    <app-trip [trip]="item" *ngFor="let item of trips.data | async"
              class="list-group-item list-group-item-action flex-column align-items-start">
    </app-trip>
  </ion-list>
</ion-content>
