<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User trips journal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportCsv()" color="primary" mat-raised-button>
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" placeholder="Filter trips"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <ion-fab horizontal="end" slot="fixed" vertical="top">
    <ion-fab-button (click)="presentModal(newTrip)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <app-trip (editClicked)="presentModal(item)"
              *ngFor="let item of trips.data | async"
              [trip]="item">
    </app-trip>
  </ion-list>
</ion-content>
