<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Blood results</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="groupby">
    <ion-segment-button value="type">
      <ion-label>By test type</ion-label>
    </ion-segment-button>
    <ion-segment-button value="date">
      <ion-label>By test date</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="end" slot="fixed" vertical="top">
    <ion-fab-button (click)="presentAddModal(newResult)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-card *ngFor="let header of headers">
      <ion-card-title> {{header}} results</ion-card-title>
      <ion-card-content>
        <ion-segment (ionChange)="graphOrList(header,$event)"
                     *ngIf="groupby !== 'date'"
                     [value]="this.graphOrListMap[header] || 'list'">
          <ion-segment-button value="chart">
            <ion-label>Graph</ion-label>
          </ion-segment-button>
          <ion-segment-button value="list">
            <ion-label>List</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div *ngIf="groupby === 'date' || this.graphOrListMap[header] !== 'chart'">
          <app-bioresult-item (deleteClicked)="delete(item)"
                              (editClicked)="presentEditModal(item)"
                              *ngFor="let item of data.get(header)"
                              [high]="item.metadata.high"
                              [label]="groupby === 'date' ? item.type : (item.date | date: 'yyyy-MM-dd')"
                              [low]="item.metadata.low"
                              [value]="item.value">
          </app-bioresult-item>
        </div>
        <app-resultchart *ngIf="groupby !== 'date' && this.graphOrListMap[header]==='chart'"
                         [chartData]="data.get(header)"
                         [title]="header">
        </app-resultchart>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
