<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Blood results</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="groupby">
    <ion-segment-button value="type">
      <ion-label>By test type</ion-label>
    </ion-segment-button>
    <ion-segment-button value="date">
      <ion-label>By test date</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="end" slot="fixed" vertical="top">
    <ion-fab-button (click)="presentAddModal(newResult)">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    @for (header of headers; track header) {
      <ion-card>
        <ion-card-title> {{header}} results</ion-card-title>
        <ion-card-content>
          @if (groupby !== 'date') {
            <ion-segment (ionChange)="graphOrList(header,$event)"
              [value]="this.graphOrListMap[header] || 'list'">
              <ion-segment-button value="chart">
                <ion-label>Graph</ion-label>
              </ion-segment-button>
              <ion-segment-button value="list">
                <ion-label>List</ion-label>
              </ion-segment-button>
            </ion-segment>
          }
          @if (groupby === 'date' || this.graphOrListMap[header] !== 'chart') {
            <div>
              @for (item of data.get(header); track item) {
                <app-bioresult-item (deleteClicked)="delete(item)"
                  (editClicked)="presentEditModal(item)"
                  [high]="item.metadata.high"
                  [label]="groupby === 'date' ? item.type : (item.date | date: 'yyyy-MM-dd')"
                  [low]="item.metadata.low"
                  [units]="item.metadata.unit"
                  [value]="item.value">
                </app-bioresult-item>
              }
            </div>
          }
          @if (groupby !== 'date' && this.graphOrListMap[header]==='chart') {
            <app-resultchart
              [chartData]="data.get(header)"
              [title]="header">
            </app-resultchart>
          }
        </ion-card-content>
      </ion-card>
    }
  </ion-list>

</ion-content>
