<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trips map</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-item>
    <ion-select interface="popover" label="Show only year" [(ngModel)]="selectedYear" (ionChange)="updateOptions()">
      <ion-select-option [value]="-1">All</ion-select-option>
      @for (year of years; track year) {
        <ion-select-option [value]="year">{{ year }}</ion-select-option>
      }
    </ion-select>
  </ion-item>
  <google-map height="100%" width="100%"
    [center]="{lat: currentAddress?.lat, lng: currentAddress?.lon}"
    [options]="mapOptions">
    @for (item of cities; track item) {
      <map-advanced-marker
        [position]="{lat: item.lat, lng: item.lon}"
        [title]="item.title || ''"
        [content]="item.content"
      ></map-advanced-marker>
    }
    @for (item of tripLines; track item) {
      <map-polyline
        [options]="item.options"
      [path]="item.polyline"></map-polyline>
    }
  </google-map>
</ion-content>
