<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up to Data Journal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="userEmail" autofocus inputmode="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="userPassword" required type="password"></ion-input>
    </ion-item>
    <ion-button (click)="authService.doRegister(userEmail, userPassword)" color="dark" expand="full">
      Sign up with email
    </ion-button>
    <ion-item-divider></ion-item-divider>
    <ion-button (click)="authService.doGoogleLogin()" color="danger" expand="full">
      Google sign up
    </ion-button>
    <ion-button (click)="authService.doFacebookLogin()" color="primary" expand="full">
      Facebook sign up
    </ion-button>
    <ion-item-divider></ion-item-divider>

  </ion-list>
</ion-content>
