<ion-header>
  <ion-toolbar>
    <ion-title>Blood results</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="type">
      <ion-label>By test type</ion-label>
    </ion-segment-button>
    <ion-segment-button value="date">
      <ion-label>By test date</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <div *ngFor="let header of data.keys()">
      <ion-list-header>{{header}}</ion-list-header>
      <ion-item *ngFor="let item of data.get(header)">
        {{item.type}} : {{item.value}}
      </ion-item>
    </div>
  </ion-list>

</ion-content>
