<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content"
              type="overlay"
              [hidden]="!authService.isLoggedIn">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Data journal</ion-list-header>
          <ion-note>{{authService.userEmail}}</ion-note>

          <ion-menu-toggle *ngFor="let p of appPages; let i = index" auto-hide="false">
            <ion-item (click)="selectedIndex = i" [class.selected]="selectedIndex == i" [routerLink]="[p.url]"
                      detail="false"
                      lines="none" routerDirection="root">
              <ion-icon [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" slot="start"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
