<ng-template #suggestionsBioTest let-attrs="attrs">
  <ion-item>
    <ion-icon [name]="bioMetadataService.getIcon(attrs.data.category)"></ion-icon>
    <ion-text>
      <span [innerHtml]="(attrs.data.test)| boldprefix:attrs.keyword"></span>
    </ion-text>
  </ion-item>
</ng-template>

<ion-header>
  <ion-toolbar>
    <ion-title>
      {{bioresult?.id ? 'Save' : 'Add new'}} trip
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="onSubmit(bioresultForm.value)"
        [formGroup]="bioresultForm" novalidate>
    <ion-row>
      <ion-col [size]="12">
        <ion-auto-complete [dataProvider]="bioMetadataService"
                           [options]="{ placeholder : 'Search for test type' }"
                           [template]="suggestionsBioTest"
                           formControlName="type"
                           label="Search for test type"
                           labelPosition="floating"></ion-auto-complete>
      </ion-col>
    </ion-row>
    <!--    <ion-item>-->
    <!--      <ion-label position="floating">Type</ion-label>-->
    <!--      <ion-input formControlName="type"></ion-input>-->
    <!--    </ion-item>-->

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Value</ion-label>
      <ion-input formControlName="value" type="number"></ion-input>
    </ion-item>

    <ion-button [disabled]="bioresultForm.invalid" color="primary"
                expand="full"
                fill="outline" type="submit">
      {{bioresult?.id ? 'Save' : 'Add'}}
    </ion-button>

  </form>
</ion-content>
