<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">email</ion-label>
      <ion-input [(ngModel)]="userEmail" autofocus inputmode="email" required></ion-input>
    </ion-item>

    <ion-button (click)="resetPassword(userEmail)" color="dark" expand="full">
      Reset password
    </ion-button>
  </ion-list>
</ion-content>
