<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">email</ion-label>
      <ion-input inputmode="email" [(ngModel)]="userEmail" required autofocus></ion-input>
    </ion-item>

    <ion-button expand="full" color="dark" (click)="resetPassword(userEmail)">
      Reset password
    </ion-button>
  </ion-list>
</ion-content>
