<ion-item-sliding>
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img [src]="'/assets/flags/'+trip.countryCode.toLowerCase()+'.svg'">
    </ion-thumbnail>
    <ion-label (click)="editClicked.emit(null)" class="ion-text-wrap">
      <h3>
        {{trip.start | date: 'yyyy-MM-dd'}} - {{trip.end | date: 'yyyy-MM-dd'}}
        ({{daysDiff(trip.start, trip.end)}} days)
      </h3>
      <h2>
        <!--        <ion-icon *ngIf="trip.countryCode" [src]="'/assets/flags/'+trip.countryCode.toLowerCase()+'.svg'"></ion-icon>-->
        {{trip.city}}, {{trip.state}}, {{trip.country}}
      </h2>
      <p style="white-space: pre-wrap">
        {{trip.purpose}}
      </p>
    </ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option (click)="editClicked.emit(null)" color="primary">
      <ion-icon name="create-outline" slot="icon-only"></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="delete()" color="danger">
      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
<!--
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      {{trip.start | date: 'yyyy-MM-dd'}} - {{trip.end | date: 'yyyy-MM-dd'}}
      ({{daysDiff(trip.start, trip.end)}} days)
    </ion-card-subtitle>
    <ion-card-title>
      <ion-icon *ngIf="trip.countryCode" [src]="'/assets/flags/'+trip.countryCode.toLowerCase()+'.svg'"></ion-icon>
      {{trip.city}}, {{trip.state}}, {{trip.country}}
    </ion-card-title>

  </ion-card-header>
  <ion-card-content>
    <p>{{trip.purpose}}</p>

  </ion-card-content>
  <ion-footer>
    <ion-row>
      <ion-col offset="8" size="2">
        <ion-button fill="clear" (click)="editClicked.emit(null)">
          <ion-icon slot="icon-only" color="primary" name="create-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" (click)="delete()">
          <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>
-->
