<ion-header>
  <ion-toolbar>
    <ion-title>
      {{trip?.id ? 'Save' : 'Add new'}} trip
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="onSubmit(tripForm.value)"
        [formGroup]="tripForm" novalidate>
    <google-places-autocomplete (callback)="detail($event[0])"
                                [value]="trip.locationName"
                                placeholder="Enter trip place">
    </google-places-autocomplete>

    <ion-item>
      <ion-label position="floating">Purpose of trip</ion-label>
      <ion-textarea auto-grow=true
                    formControlName="purpose">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Start date</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" formControlName="start"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End date</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" formControlName="end"></ion-datetime>
    </ion-item>
    <ion-button [disabled]="tripForm.invalid || !location.locationName"
                color="primary"
                expand="full"
                fill="outline" type="submit">
      {{trip?.id ? 'Save' : 'Add'}}
    </ion-button>
    <ion-card>
      <ion-card-content>
        <agm-map [latitude]="trip.lat || 43.7"
                 [longitude]="trip.lng || -79.42"
                 [streetViewControl]="false"
                 maxZoom="8"
                 minZoom="5">
          <agm-marker *ngIf="trip.lat && trip.lng"
                      [latitude]="trip.lat"
                      [longitude]="trip.lng"></agm-marker>
        </agm-map>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
