<ion-header>
  <ion-toolbar>
    <ion-title>
      {{address?.id ? 'Save' : 'Add new'}} address
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="onSubmit(addressForm.value)"
        [formGroup]="addressForm" novalidate>
    <google-places-autocomplete (callback)="detail($event)"
                                [value]="address.locationName"
                                placeholder="Enter trip place">
    </google-places-autocomplete>

    <ion-item>
      <ion-label>Start date</ion-label>
      <ion-text slot="end">{{ addressForm.get('start').value | date:'YYYY-MM-dd'}}</ion-text>
      <ion-button fill="clear" id="open-date-input-1" slot="end">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <ion-popover trigger="open-date-input-1"
                   dismiss-on-select="true"
                   show-backdrop="false">
        <ng-template>
          <ion-datetime
            presentation="date"
            formControlName="start"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item>
      <ion-label>End date</ion-label>
      <ion-text slot="end">{{ addressForm.get('end').value | date:'YYYY-MM-dd'}}</ion-text>
      <ion-button fill="clear" id="open-date-input-2" slot="end">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <ion-popover trigger="open-date-input-2"
                   dismiss-on-select="true"
                   show-backdrop="false">
        <ng-template>
          <ion-datetime
            presentation="date"
            formControlName="end"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-button [disabled]="addressForm.invalid || !location.locationName"
                color="primary"
                expand="full"
                fill="outline" type="submit">
      {{address?.id ? 'Save' : 'Add'}}
    </ion-button>

  </form>
</ion-content>
