<ion-item-sliding [id]="'slidingItem-' + interview.id">
  <ion-item [lines]="hideFeedback?'full':'none'">
    <ion-icon [color]="InterviewStatusIconMap[interview.status]?.color"
              [name]="InterviewStatusIconMap[interview.status]?.icon"
              slot="start">
    </ion-icon>
    <ion-label (click)="editClicked.emit(null)" class="ion-text-wrap">
      <h3>
        {{interview.plannedDate | date: 'yyyy-MM-dd hh:mm'}}
        {{interview.status}}
      </h3>
      <h2>
        {{interview.type}} <small>({{interview.value}} <small>USD</small>)</small>,
        {{interview.candidateName}}
      </h2>

    </ion-label>
    <ion-icon (click)="hideFeedback=!hideFeedback"
              [hidden]="!interview.feedback"
              [name]="hideFeedback?'chevron-down-outline':'chevron-up-outline'"
              slot="end"></ion-icon>
  </ion-item>
  <ion-item [hidden]="hideFeedback" lines="full">
    <ion-icon name="reader" slot="start"></ion-icon>
    <p>{{interview.feedback}}</p>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option (click)="editClicked.emit(null)" color="light">
      <ion-icon name="create-outline" slot="icon-only"></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="delete()" color="danger">
      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="updateInterviewStatus(InterviewStatusTypes.Done)"
                     *ngIf="interview.status===InterviewStatusTypes.Scheduled"
                     color="success">
      <ion-icon name="checkbox-outline" slot="top"></ion-icon>
      Done
    </ion-item-option>
    <ion-item-option
      (click)="updateInterviewStatus(InterviewStatusTypes.Paid)"
      *ngIf="interview.status===InterviewStatusTypes.Done || interview.status===InterviewStatusTypes.NoShow"
      color="tertiary">
      <ion-icon name="logo-paypal" slot="top"></ion-icon>
      Paid
    </ion-item-option>
    <ion-item-option (click)="updateInterviewStatus(InterviewStatusTypes.Cancelled)"
                     *ngIf="interview.status===InterviewStatusTypes.Scheduled"
                     color="warning">
      <ion-icon name="close-circle-outline" slot="top"></ion-icon>
      Cancel
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
